@import "tailwindcss";

@theme {
  --color-rescript-50: oklch(97% 0.02 27);
  --color-rescript-100: oklch(93% 0.04 27);
  --color-rescript-200: oklch(87% 0.07 27);
  --color-rescript-300: oklch(79% 0.12 27);
  --color-rescript-400: oklch(71% 0.16 27);
  --color-rescript-500: oklch(63% 0.19 27);
  --color-rescript-600: oklch(55% 0.17 27);
  --color-rescript-700: oklch(47% 0.15 27);
  --color-rescript-800: oklch(39% 0.12 27);
  --color-rescript-900: oklch(31% 0.09 27);
  --color-rescript-950: oklch(23% 0.06 27);
  --font-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
